.post__details {
  padding: 0;
  margin: 0;

  ul {
    display: inline-block;
    padding: 0;
  }

  ul,
  li {
    list-style: none;
  }

  &-title {
    @extend %facets__section-title;
    padding: 0.3rem 0 0.6rem 0;
    text-transform: uppercase;
  }

  &-subtitle {
    @extend %labeltext__subheading;
    padding: 0.3rem 0 0.5rem 0;
    text-transform: uppercase;
    text-align: left;
    display: block;
  }

  &-item {
    @extend %labeltext__text;
    padding: 0 0 0.2rem 0;
    display: block;
  }

  div {
    @include breakpoint($break: 'medium', $until: 'large') {
      display: flex;
      verticle-align: top;
      padding: 2rem;
    }
  }
}
